body {
    background-color: darksalmon;
}

#container {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

:checked + #agreementText {
    color: lime;
}

label {
    font-size: 1.2em;
}

input:focus {
    background-color: antiquewhite;
}

input:optional {
    padding: 0.1em;
    border-style: inset;
    border-width: thick;
}

[type=submit] {
    width: 10em;
    height: 4em;
    margin-right: 3em;
}

[type=reset] {
      width: 10em;
      height: 4em;
}

input:required {
    padding: 0.1em;
    border: thick dashed;
}

#regFormContainer {
    border: 3em solid;
    -webkit-border-image: url(../img/border_img.png) 15% stretch;
    -moz-border-image: url(../img/border_img.png) 15% stretch;
    -o-border-image: url(../img/border_img.png) 15% stretch;
    border-image: url(../img/border_img.png) 15% stretch;
}
