.signInBtn, .signUpBtn {
    width: 80px;
    height: 20px;
    font-size: 14px;
    background-color: #243db4;
    color: #f7e4ba;
}

.categories {
    float: left;
    width: 240px;
    height: 730px;
}

.mainContent {
    float: left;
    border-left: #2c4a75 solid 2px;
    border-right: #2c4a75 solid 2px;
    width: 996px;
    margin-left: 5px;
    margin-right: 5px;
    height: 730px;
}

.category {
    padding-top: 5px;
    height: 40px;
    width: 996px;
    text-align: center;
    font-size: 1.3em;
}

.items {
    border-top: #2c4a75 solid 2px;
    width: 996px;
    height: 677px;
    margin-top: 5px;
}

.bookmarks {
    float: left;
    width: 240px;
    height: 730px;
}
